body {
  background-color: White;
  text-align: center;
  font-family: Helvetica;
}
.menu {
  background-image: url("resources/the-flatiron-building.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: White;
  font-size: 18px;
}
#title {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}
a {
  font-size: 18px;
  color: White;
}
.footer {
  text-align: left;
  color: White;
  background-color: dimgray;
  font-size: 11px;
  white-space: nowrap;
 }
 p {
   font-size: 14px
 }
h3 {
  font-size: 23px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  color: White;
}
